<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebagit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1611C011C1F40B100BD135D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1611C151C1F40B100BD135D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1611C201C1F40B100BD135D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
